#time{
    font-size: 2vw;
    position: absolute;            
    color:#717077;
    top:20%;
    left:40%;
}
#watch{
    position: relative;
    margin: auto;           
    background: url('../img/watch.png') no-repeat;
    height:40vw;
    width: 40vw;
    background-size: 100%;
    
}
#second{
    position: absolute;
    height: 30%;
    width: 1%;
    top: 20%;
    left: 49%;
    background-color: black;
    transform-origin: bottom;
    border-radius: 10px;
}
#minute{
    position: absolute;
    height: 25%;
    width: 2%;
    top: 25%;
    left: 49%;
    background-color: black;
    transform-origin: bottom;
    border-radius: 10px;
}
#hour{
    position: absolute;
    height: 20%;
    width: 3%;
    top: 30%;
    left: 48%;
    background-color: black;
    transform-origin: bottom;
    border-radius: 10px;
}